@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--tg-theme-bg-color);
}

.telegram-text {
    color: var(--tg-theme-text-color);
}

.telegram-border {
    border-color: var(--tg-theme-text-color);
}

.telegram-accent-border {
    border-color: var(--tg-theme-accent-text-color);
}

.telegram-bg {
    background-color: var(--tg-theme-bg-color);
}

.link-text {
    color: var(--tg-theme-link-color);
}

.button:hover {
    background-color: color-mix(in srgb, var(--tg-theme-button-color), var(--tg-theme-bg-color) 20%);
}

.secondary-button:hover {
    background-color: color-mix(in srgb, var(--tg-theme-button-color), var(--tg-theme-bg-color) 90%);
}

.button {
    color: var(--tg-theme-bg-color);
    background-color: var(--tg-theme-button-color);
    border-radius: 40px;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
}

.avg-rate {
    margin-right: auto;
}

.mr-auto {
    margin-right: auto;
}

.secondary-button {
    background-color: color-mix(in srgb, var(--tg-theme-button-color), var(--tg-theme-bg-color) 80%);
    color: var(--tg-theme-button-color);
}

.clear {
    padding: 8px 16px 8px 16px;
    color: var(--tg-theme-text-color);
}

.secondary-bg {
    background-color: var(--tg-theme-secondary-bg-color);
}

.focused.commentInput {
    border-style: solid;
    border-color: var(--tg-theme-link-color);
    color: var(--tg-theme-text-color)
}

.empty.commentInput {
    color: grey;
    opacity: 0.5;
}

.commentInput {
    border-radius: 10px;
    width: 100%;
    resize: none;
}

.preview {
    display: block;
    max-width: 100%;
    height: auto;
    color: #fff;
    overflow: hidden;

    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.title-text {
    z-index: 100;
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 90%;
    transform: translateX(-50%);
    text-align: center;
}

.back-text {
    z-index: 100;
    position: absolute;
    left: 3%;
    top: 5%;

}

.container {
    position: relative;
    display: inline-block;
    text-align: center;
  }

.bottom {
    margin-top: auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    border-color: var(--tg-theme-secondary-bg-color);
}
